/* Overall layout */
body {
  background-image: url("headphones_hero_1.jpg");
  background-size: cover;       /* make it fill the screen */
  background-position: center;  /* center the image */
  background-repeat: no-repeat; /* no tiling */
  height: 100%;                /* make sure it covers full height */
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;   
  font-size: 16px;              /* text shows clearly on background */
}
